{#---
sort_order: 0
---#}
<h2 class="visually-hidden">Contact information</h2>
<address style="white-space: nowrap;font-style: normal">
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="visually-hidden">phone</span>
    {% include '@oe/sprite/sprite.twig' with { name: 'phone' } only %}&nbsp;
    <a href="#"><span class="text text--size-msmall text--height-snug text--weight-semibold"> 814-865-5403</span></a>
  </div>
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="visually-hidden">email</span>
    {% include '@oe/sprite/sprite.twig' with { name: 'envelope' } only %}&nbsp;
    <a href="#"><span class="text text--size-msmall text--height-snug text--weight-semibold">worldcampus@psu.edu</span></a>
  </div>
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="text text--size-msmall text--height-snug text--weight-regular" style="font-style: italic">U.S. Toll Free</span>:&nbsp;
    <a href="#"><span class="text text--size-msmall text--height-snug text--weight-semibold">800-252-3592</span></a>
  </div>
  <div class="text text--size-msmall text--height-snug text--weight-semibold">
    <span class="text text--size-msmall text--height-snug text--weight-regular" style="font-style: italic">Fax:</span>&nbsp;814-865-3290
  </div>
</address>
