<html lang="en">
  {% include 'head.twig' %}
  <body>
  {% include 'body-top.twig' %}
  {% include 'header.twig' %}
  <div style="max-height: fit-content;margin-bottom:5rem;">
    {% for block in blocks['before_content'] %}
      {% autoescape false %}{{ block }}{% endautoescape %}
    {% endfor %}
  </div>
  <main style="padding: 0 var(--page-side-padding); margin: auto; max-width: 119rem;">
    {% apply markdown_to_html %}
      {{ content }}
    {% endapply %}
  </main>
  </body>
</html>