{#---
sort_order: 0
---#}
<h2 class="visually-hidden">Disclosures, policies, and copyright information</h2>
<div style="--link-color: var(--text-color); display:flex;gap:2rem 2.5%">
  <a href="#" style="display:inline-block;min-width:10rem;width:10rem;padding:.25rem 0;">
    <span class="visually-hidden">Penn State</span>
    {% include '@psu-ooe/sprite/sprite.twig' with { name: 'psu-mark', expand: true } only %}
  </a>
  <div style="font-size: var(--font-size--3xsmall);line-height: var(--line-height--snug)">
    {% set accessibility %}<a style="display:inline-block;padding:.5rem 0;" href="#">Accessibility</a>{% endset %}
    {% set equal_opportunity %}<a style="display:inline-block;padding:.5rem 0;" href="#">Equal Opportunity</a>{% endset %}
    {% set nondiscrimination %}<a style="display:inline-block;padding:.5rem 0;" href="#">Nondiscrimination</a>{% endset %}
    {% set privacy %}<a style="display:inline-block;padding:.5rem 0;" href="#">Privacy</a>{% endset %}
    {% set consumer_info %}<a style="display:inline-block;padding:.5rem 0;" href="#">Consumer Information and Disclosures</a>{% endset %}
    {% set copyright %}<a style="display:inline-block;padding:.5rem 0;" href="#">The Pennsylvania State University © 2024</a>{% endset %}
    {% set x %}{% endset %}
    {% include '@psu-ooe/list/list.twig' with {
      orientation: 'horizontal',
      separator: 'dot',
      items: [
        accessibility,
        equal_opportunity,
        nondiscrimination,
        privacy,
        consumer_info,
        copyright,
      ]
    } only %}
  </div>
</div>
